// FONT
$default-font-size: 1.6rem;

//COLOR

$color-white: #fff;
$color-black: #000;
$color-black-light-1: #252934;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

// $color-primary-dark: #235784;
// $color-primary: #40a8c4;
// $color-primary-light: #bcdbdf;

$color-primary-dark: #0b3c4e;
$color-primary: #136a8a;
$color-primary-light: #267871;

$color-secondary-dark: #ff7730;
$color-secondary: #f09503;
$color-secondary-light: #ffb900;

$color-tertiary-dark: #28b485;
$color-tertiary: #55c57a;
$color-tertiary-light: #7ed56f;

$color-accent: #ffbe00;

//GUTTER
$grid-width: 114rem;
$gutterRight: 5rem;
$gutterPadding: 5rem;
