.education {
  padding: 5rem;
  background: $color-white;
  border-radius: 5px;
  --webkit-box-shadow: 0 1.5rem 4rem rgba($color-black, 0.3);
  box-shadow: 0 1.5rem 4rem rgba($color-black, 0.3);
  &__heading {
    border-bottom: 1px solid $color-grey-light-2;
  }
  ul {
    list-style: none;
    padding: 2rem;
    text-align: center;
    li {
      font-size: 1.4rem;
    }
  }
}
